.panelBorder{
    background-color: #420000;
    width: 20em;
    padding:1.5em;
}
.verticalConnect{
    height:100%;
    width:20%;

    background-color: #8D8D8D;
}
.horizontalConnect{
    width:100%;
    height:5em;

    background-color: #8D8D8D;
}