.btn{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.selected{
    background-color: #1BC000;
    color:#001801;
}
.notSelected{
    color:#1BC000;
}
.container{
    width:10rem;
    height:3rem;
}