.board{
    width: 15rem;
    display: flex;
    flex-wrap: wrap;
    height: 15rem;
    background-color: #0F2703;
}
.seaBoard{
    background-color: #1E6DE2;
    width:25rem;
    height:25rem;
    margin-right: auto;
    margin-left: auto;
    /*margin-top: 5rem;*/
}
.consoleBoard{
    border:0.5rem black solid;
    width:20rem;
    height:20rem;
}
.creatorBoard{
    border: 0.5rem #1BC000 solid;
    width: 30rem;
    height: 30rem;
    padding: 0.5rem;
    background-color: #010903;
}