.field{
    width: 1em;
    height: 1em;
    border: 0.25em solid #00000000
}
.seaField{
    width:2.5em;
    height:2.5em;
    border:none;
}
.hit{
    background-color: #930000
}
.sunken{
    background-color: #420000FF;
}
.ship{
    background-color: #8D8D8D;
}
.consoleField{
    width:1.5em;
    height: 1.5em;
    border: 0.25em solid black;
    background-color: #0d2502;
    margin-left: auto;
    margin-right: auto;
}
.consoleHit{
    background-color: #037b08;
}
.consoleSunken{
background-color: #420000;
}
.consoleMissed{
    background-color: #353434;
}
.selectedConsoleField{
    border: 0.25em solid #037B08FF;
}
.enemyMissed{
    background-color: #053280;
}
.creatorField{
    width: 2em;
    height: 2em;
    border: 0.5em solid #010903
}
.creatorPicked {
    background-color: #1BC000;
    border: 0.5em solid #1BC000;
}
.creatorForbidden{
    background-color: #330000;
    border: 0.5em solid #330000;
}
.creatorRemovable{
    background-color: red;
    border:0.5em solid red;
}
.creatorDeploy{
    background-color: yellow;
}
.creatorPossible{
    background-color: blue;
}
.creatorSelected{
    border: solid 0.5em #1BC000;
}