.absoluteContainer{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(37, 37, 37, 0.7);
}
.absoluteChild{
    width:15rem;
    height:5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25rem;
    font-size: 3rem;
}