.board{
    width: 15em;
    display: flex;
    flex-wrap: wrap;
    height: 15em;
    background-color: #0F2703;
}
.seaBoard{
    background-color: #1E6DE2;
    width:25em;
    height:25em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
}
.enemyBoard{
    width:20em;
    height:20em;
}
.creatorBoard{
    border: 0.5em #1BC000 solid;
    width: 30em;
    height: 30em;
    padding: 0.5em;
    background-color: #010903;
}