.board{
    width: 15em;
    display: flex;
    flex-wrap: wrap;
    height: 15em;
    background-color: #0F2703;
}
.seaBoard{
    background-color: #1E6DE2;
    width:25em;
    height:25em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10em;
}
.enemyBoard{
    width:20em;
    height:20em;
}